<div class="bg">
    <div class="parent">
        <div class="child">
            <form nz-form [formGroup]="testForm" class="login-form" (ngSubmit)="submitForm()">
                <nz-form-label [nzNoColon]="'true'">Title</nz-form-label>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please input test title!">
                        <input type="text" nz-input formControlName="title" placeholder="Enter test title" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-label [nzNoColon]="'true'">Time Per Question</nz-form-label>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please input time per question!">
                        <input type="number" nz-input formControlName="time" placeholder="Enter time per question in seconds" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-label [nzNoColon]="'true'">Description</nz-form-label>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please input test description!">
                        <textarea nz-input formControlName="description" placeholder="Enter test description"></textarea>
                    </nz-form-control>
                </nz-form-item>

                <div style="padding-bottom: 30px;">
                    <button nz-button class="login-form-button login-form-margin">Create Test</button>
                </div>
            </form>
        </div>
    </div>
</div>
